{% extends 'gallery/base.html' %}
{% block content %}
{% load static %}  
<div class="container-fluid">
    <br>
    <div class="row justify-content-evenly">
       
      <div class="col-6 align-self-center">
        <img src="{{ objectdetect }}" class="d-block w-100">
      </div>
        <div class="col-6 align-self-top">
          <div class="map-container">{{map|safe}}</div>
          <input type="hidden" class="form-control" id="urlRight" value={{ photopair.image_r.url  }}>
          <table class="table" id="tabla-datos" >
            <thead>
              <tr>
                <th scope="col">Zd</th>
                <th scope="col">Xd</th>
                <th scope="col">Disp</th>
                <th scope="col">x</th>
                <th scope="col">y</th>
                <th scope="col">w</th>
                <th scope="col">h</th>
                <th scope="col">latitude</th>
                <th scope="col">longitude</th>
                <th scope="col">label</th>
                <th scope="col">conf</th>
              </tr>
            </thead>
            <tbody>
              {% csrf_token %}
              {% for objectroi in objectsRoi %}
              <tr>
                <td>{{objectroi.zdepth}} </td> 
                <td>{{objectroi.xdepth}} </td> 
                <td>{{objectroi.ddepth}} </td>
                <td >{{objectroi.x}} </td>
                <td>{{objectroi.y}} </td>
                <td>{{objectroi.w}} </td>
                <td>{{objectroi.h}} </td> 
                <td>{{objectroi.latitude}} </td> 
                <td>{{objectroi.longitude}} </td>
                <td>{{objectroi.label}} </td>
                <td>{{objectroi.conf}} </td>                
              </tr>
              {% endfor %}
              
             
            </tbody>
          </table>
        </div>
        
    </div>
    <br>
    <div class="row justify-content-center">
        
      <div class="col-sm-auto">
          <a href="{% url 'gallery:detectobjectmanual' photopair.photoset.id previous %}" class="btn btn-secondary">Anterior ({{previous}})</a>
      </div>
      <div class="col-sm-auto">
        <a href="{% url 'gallery:image2' photopair.photoset.id photopair.index %}" class="btn btn-secondary">Volver</a>
    </div>
      <div class="col-sm-auto">
          <a href="{% url 'gallery:detectobjectmanual' photopair.photoset.id next %}" class="btn btn-secondary">Siguiente ({{next}})</a>
      </div>
      
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 {% endblock %}  
