{% extends 'gallery/base.html' %}
{% block content %}
{% load static %}  

<div class="container-fluid">
    <div class="row justify-content-evenly">
        <div class="col-5 align-self-center">
            <img src="{{ photopair.image_r.url }}" class="d-block w-100 shadow-sm p-10 mb-2 rounded" id="image">
        </div>
        <div class="col-6 align-self-center">
            <h4 style="color: goldenrod"> Imagen numero <b id="index-display"></b> del PhotoSet {{photopair.photoset.title}}, de {{photopair.photoset.owner}}</h4> 
              <ul class="list-group list-group-horizontal d-flex">
                <li class="list-group-item flex-fill">
                  <input class="form-check-input me-1" type="checkbox" id="checkphotos" checked >
                  <small>Otras Fotos</small>
                  <span class="badge bg-primary rounded-pill">{{photopair.photoset.album.count}}</span>
                </li>
                <li class="list-group-item flex-fill">
                  <input class="form-check-input me-1" type="checkbox" id="checkposts" >
                  <small>Postacion</small> 
                </li>
                <li class="list-group-item flex-fill">
                    <input class="form-check-input me-1" type="checkbox" id="checklights" onclick="updatemap()">
                    <small>Luminaria</small>
                </li>
              </ul>
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item flex-fill">
                    <input class="form-check-input me-1" type="checkbox" id="checkvehicles" onclick="updatemap()">
                    <small>Vehiculos</small>
                </li>
                <li class="list-group-item flex-fill">
                  <input class="form-check-input me-1" type="checkbox" id="checkothers" onclick="updatemap()">
                  <small>Otros</small>
                </li>
                <li class="list-group-item flex-fill">
                  <input class="form-check-input me-1" type="checkbox" disabled>
                  <small>Reservado</small>
                </li>
              </ul>            
            <div class="shadow-sm p-1 mb-2 rounded" id="map2" style="width: 800px; height: 500px;"></div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-sm-auto">
            <button id="btn-prev" class="btn btn-secondary">Anterior</button>
        </div>
        <div class="col-sm-auto">
            <a href="{% url 'gallery:selectroi' photopair.photoset.id photopair.index %}" class="btn btn-secondary" id="selectroi">Seleccionar Objetos</a>
            <a href="{% url 'gallery:detectobject' photopair.photoset.id photopair.index %}" class="btn btn-secondary" id="detectobject">Detectar Objetos</a>
            <button class="btn btn-secondary" id="borrar-objetos" onclick="borrarObjetos()">Borrar Objetos</button>
        </div>
        <div class="col-sm-auto">
          <button id="btn-next" class="btn btn-secondary">Siguiente</button>
        </div>
    </div>
</div>

<input type="hidden" class="form-control" id="pk"value={{ photopair.photoset.id }}>
<input type="hidden" class="form-control" id="pk2"value={{ photopair.index }}>
<!-- <input type="text" class="form-control" id="latitude"value={{ location.latitude }}>
<input type="text" class="form-control" id="longitude"value={{ location.longitude }}> -->
<div style="display: none" id="jsonData" data="{{ data }}"></div>
<div style="display: none" id="jsonData2" data="{{ data2 }}"></div>
<div style="display: none" id="jsonData3" data="{{ data3 }}"></div>

<script src="{% static 'gallery/js/deleteAllObjects.js' %}"></script>
<script src="{% static 'gallery/js/leaflet.js' %}"></script>
<script src="{% static 'gallery/js/generatemap.js' %}"></script>
<script>

//window.addEventListener("load", (event) => {
  //    stopdetection();
   // });

  //window.addEventListener("DOMContentLoaded",function (e) {
   //   stopdetection();

   // });

  async function stopdetection() {
    
    var pk= document.getElementById("pk").value;

    response = await fetch(`/stopdetection/?pk=${pk}`);
    data = await response.json();
    console.log(data);
    console.log(pk)
    console.log("se paro la tarea")
  } 

</script>
{% endblock %}  
