{% extends 'gallery/base.html' %}
{% block extrascripts %}

{% load static %}
<script>window.addEventListener("load", function(e)
{
    var x,y,oldx,oldy,centerx,centery;
    var showDrag = false;
    var img = document.getElementById("image");
    var bbox = document.getElementById("rect");
    var contbox = document.getElementById("imagebox");
    document.getElementById("imagebox").addEventListener("mousedown", function(e) 
    {
        oldx = e.clientX; //mousedown x coord
        oldy = e.clientY; //mouedown y coord
        showDrag = true;
        e.preventDefault();
    });
    document.getElementById("imagebox").addEventListener("mousemove", function(e)
    {
        if (showDrag == true) {
            x = e.clientX; //mouseup x coord
            y = e.clientY; //mouseup y coord

            //get the width and height of the dragged area
            var w = (x > oldx ? x-oldx : oldx-x);
            var h = (y > oldy ? y-oldy : oldy-y);
            var addx = 0, addy = 0;
            //these next two lines judge if the box was dragged backward
            //and adds the box's width to the bbox positioning offset
            if (x < oldx) { addx = w; }
            if (y < oldy) { addy = h; }



            bbox.style.left = (oldx-parseInt((contbox.offsetLeft+addx)))+"px";
            bbox.style.top = (oldy-parseInt((contbox.offsetTop+addy)))+"px";
            bbox.style.width = w+"px";
            bbox.style.height = h+"px";
            bbox.style.display = "block";
        }
        e.preventDefault(); 
    });
    document.getElementById("imagebox").addEventListener("mouseup", function(e) 
    {
        var img_w = img.clientWidth;
        var img_h = img.clientHeight;
        var w = Math.abs(x-oldx)/img_w;
        var h = Math.abs(y-oldy)/img_h;
        centerx = (x+oldx-contbox.offsetLeft)/(2*img_w);
        centery = (y+oldy-contbox.offsetTop)/(2*img_h);

        document.getElementById("results").innerHTML = " Posiciones relativas: " + w + ",  " + h + " Centro: " + centerx + ", " + centery;
        showDrag = false;
        e.preventDefault();

    });

});

function onclick()
{
    alert("hola");
   
}

</script> 
<style>
    #imagebox {
      border: solid 1px red;
      cursor: pointer;
      position: relative;
      display:inline-block;
    
    }
    #image {
      border: solid 1px blue;  

    }
    
    
    #rect {
      border: solid 2px green;
      pointer-events: none;
      display: none;
      position:absolute;
    }
    
</style>
{% endblock %}

{% block content %}

<div id='imagebox'>
    <img src="http://cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon@2.png?v=73d79a89bded&a" , id="image"/>
    <div id="rect"></div> 
</div>

<p id="results"></p>

<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button class="btn btn-secondary">Upload</button>
</form>

{% endblock %}